.firstArgument {
  background-color: #f7cbaf !important;
}

.verb {
  background-color: #fee59d !important;
}

.secondArgument {
  background-color: #c7dfb6 !important;
}

.borderColor {
  border-color: #4b3e35 !important;
}
